!!! 5
link(rel='stylesheet', href='/assets/stylesheets/home.css')
section#home
    p hello

    //- script(type='text/javascript', src='/assets/lib/jquery-easing.js')
script(type='text/javascript', src='/scripts/pages/home.js')


