!!! 5
html
    head
        title= title
        //- link(rel='stylesheet', href='/assets/stylesheets/app.css')
        //- meta(name='KEYWORDS', content='happ')
        //- meta(name='Description', content='Description.')
    body
        
        //- third party plugin
        script(type='text/javascript', src='/assets/lib/jquery.min.js')
        
        #content 
            != body
