!!! 5
link(rel='stylesheet', href='/assets/stylesheets/home.css')
section#home
	div#header
		img(src='/assets/images/icons/ic_avatar.png', alt='Happ logo', class='logo')
		div.title Happ

	div
		div.text-under-image
			div.haptitle.strip-title Contact Us
			
			div.specifics.haptext
				img(src='/assets/images/hip.png', alt='android')

		div.specifics.haptext
				div.circle.who-sees
				| <strong>Email us at Happ.the.App@gmail.com.</strong>
			
			div.specifics.haptext
				img(src='/assets/images/hippo.png', alt='android')		



				
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(type='text/javascript', src='/scripts/pages/home.js')

//- script(type='text/javascript', src='/assets/lib/jquery-easing.js')


