!!! 5
link(rel='stylesheet', href='/assets/stylesheets/support.css')
section#support
	h1 support
	h3 
		| Please contact: 
		a(href='mailto:happ.theapp@gmail.com') happ.theapp@gmail.com 
		| for support
	


