!!! 5
section#home
	div#header
		img(src='/assets/images/icons/ic_avatar.png', alt='Happ logo', class='logo')
		div.title Happ

	div
		p
			| TERMS OF USE
			| When you use some Happ products, services, or applications or post on a Happ forum, chat room, or social networking service, the personal information you share is visible to other users and can be read, collected, or used by them. You are responsible for the personal information you choose to submit in these instances. Please take care when using these features.
			| Each user who posts content to the Happ Website is solely responsible for the content he or she submits. Happ will not be responsible for any the content of any Postings. You agree to take reasonable care to ensure the accuracy and completeness of any content you submit.
			| You agree to release and hold harmless Happ for any damages arising out of incorrect or incomplete content contained on the Site.
			| Happ will make its best efforts to maintain all user information securely.  You agree to release and hold harmless Happ for any damages arising out of any failure of such efforts.



		
				
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(type='text/javascript', src='/scripts/pages/home.js')

//- script(type='text/javascript', src='/assets/lib/jquery-easing.js')


