@import 'nib'
@import './defaults'

.haptitle
	font-size 	50px

.haptext
	font-size 	30px

.hapdesc
	font-size 	20px	

.strip-title
	color 	textColor
	// width	100%
	padding 5px 5px 5px 20px 

	background-image 	-ms-linear-gradient(right, #FFFFFF 0%, mainColor 50%)
	background-image 	-moz-linear-gradient(right, #FFFFFF 0%, mainColor 50%)
	background-image 	-o-linear-gradient(right, #FFFFFF 0%, mainColor 50%)
	background-image 	-webkit-gradient(linear, right top, left top, color-stop(0, #FFFFFF), color-stop(.5, mainColor))
	background-image 	-webkit-linear-gradient(right, #FFFFFF 0%, mainColor 50%)

.block-desc
	color 			textColor
	background 		mainColor
	width			100%
	padding 		50px 150px 50px 400px
	margin-bottom	250px

	background-image: -ms-linear-gradient(top left, #AA0470 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(top left, #AA0470 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(top left, #AA0470 0%, #FFFFFF 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #AA0470), color-stop(1, #FFFFFF));
	background-image: -webkit-linear-gradient(top left, #AA0470 0%, #FFFFFF 100%);

.iphone-screenshot
	margin 0 0 0 10%
	img
		height 485px
	float left

.text-on-image
	padding-top 	300px
	padding-left	5%
	padding-right 	5%

.textbox
	background 	rgba(0,0,0,.5)
	border-radius 		3px
	-moz-border-radius 	3px

	width 	350px	
	padding 20px

	span
		color mainColor
	div.description
		padding 	10px 0 0 20px
		color 		textColor

.circle
	height 50px
	width 50px
	margin 3px
	background mainColor url('/assets/images/icons/hippo_xhdpi.png') no-repeat center 
	background-size 75%
	border-radius 25px
	float left

#header
	position 	relative
	height 		120px
	background	mainColor
	border-top	secondaryColor solid 5px
	width 		100%

	div.title
		color 		textColor
		font-size	60px
		padding 	20px
		float 		left

	img.logo
		margin 		10px 20px 0 5px
		height 		80px
		width		80px
		float 		left

#top-strip
	width 100%
	background white url('/assets/images/cover.png') no-repeat right top

	.text-on-image
		height 			690px
			
	.text-under-image 
		#moods
			margin 	50px 0 50px 70px
			padding 0 10%	0 0
			color 	mainColor

		img.icon
			width  			80px
			height 			8
			0px
			margin-right	30px
		span
			color secondaryColor
				

#bottom-strip
	width 100%	
	background white url('/assets/images/cover_android.png') no-repeat right top

	.text-on-image
		height		900px
		color textColor

	.specifics
		border solid black 1px
		margin 	50px 0px 0px 75px
		padding 10px
		width 40%
		float left
		color mainColor

		.hapdesc 
			color secondaryColor
		img
			background mainColor
		table 
			width 100%
			border black
		.screenshot
			img
				width 100%









